<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= @admin.name if @admin %>

  	  
  	<%= link_to 'logout', admin_admin_path(@admin), method: 'delete' if @admin %>
  	  
    <%= yield %>
  </body>
</html>